*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
                     /* NAVIGATION BAR */
header{
    background-color: black;
    color:white;
    display:flex;
    padding:20px;

    justify-content: space-around;
    align-items: center;
}
header span{
    letter-spacing: 2px;
    color:rgb(0, 225, 255);
    font-weight: bold;
    font-size: 30px;
}
header ul{
    display: flex;
    list-style-type: none;
}
header ul li{
    margin-right: 40px;
}
header ul li a{
    color:white;
    text-decoration: none;
}
header ul li a:hover{
    color:rgb(0, 225, 255);
    cursor:pointer;
}
header button{
    padding: 10px 20px;
    font-weight: bold;
    color:rgb(0, 225, 255);
    border-radius: 5px;
    background-color: black;
    border:2px solid rgb(0, 225, 255);
    box-shadow:10px 20px 20px rgb(0, 225, 255);
}
header button:hover{
    background-color:rgb(0, 225, 255); 
    color:black;
    cursor:pointer;
}

                    /* HERO SECTION */
section.hero-section{
    color:rgb(255, 255, 255);
    background-color:rgb(39, 37, 37);
    display:flex;
align-items: center;
padding:20px 80px 0px 80px;
}
.hero-section__title{
    font-size: 48px;
    font-weight: bold ;
}
.hero-section__title span{
    color:rgb(0, 225, 255); 
}
.hero-section__desc{
    color:azure;
}
 .social-icons{
    margin:20px 0px;
}
.social-icons li{
    margin:15px;
}
ul.social-icons{
    list-style-type: none;
    display: flex;
}
.social-icons li a{
    text-decoration: none;
    color:white;
}
.social-icons li a > i.fa-whatsapp:hover{
    color:  #28D146;
}
.social-icons li a > i.fa-linkedin:hover{
    color:#0A66C2;
}
.social-icons li a > i.fa-instagram:hover{
    color: #E1306C; 
}
.social-icons li a > i.fa-x-twitter:hover{
    color:#00acee;
}

/* BUTTONS */
.btn{
    padding:10px 20px;
    border-radius: 2px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
    border:4px solid rgb(61, 58, 58);
}
.btn.btn-primary{
    background-color: rgb(0, 225, 255); 
    font-weight: bold;
    color:rgb(0, 0, 0);
    border:4px solid rgb(61, 58, 58);
}
.btn.btn-primary:hover{
    background-color:#ffffff ;
    color:rgb(0, 225, 255);
}
                         /* ABOUT SECTION */
.about-section{
    background-color: rgb(81, 74, 74);
    color:white;
    padding:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.about-section img{
        width: 250px;
        height:300px;
        border-radius: 20%;
        border:5px solid rgb(255, 255, 255);
        box-shadow: 5px 10px 30px white;
    }
.about-section__desc{
  margin-left: 100px;
  max-width: 450px;
}
.about-section__desc h4{
 font-size: 30px;
 font-weight: 900;
} 
.about-section__desc h4 span{
    color:rgb(0, 225, 255);
}
.about-section__desc ul{
    list-style: none;
   margin:10px 0px;
}
.about-section__desc li{
    margin-bottom: 8px;
    color:rgb(255, 255, 255);
}
.about-section__desc li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.about-section__desc li a:hover{
    color:#00acee;
}
.about-section__desc li strong{
    color:rgb(57, 189, 201);
}
/* WORK SECTION */
.work-section{
    background-color:rgb(39, 37, 37);
    color:white;
    padding:60px;
    text-align: center;  
}
.work-section-box1{
    background-color:  rgb(81, 74, 74);
    padding: 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 40px;
   
}
.work-section-box1:hover{
    background-color: rgb(43, 40, 40);

}
.work-section h4{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.work-section-box1 p{
    color:gray;
    font-size: 17px;
}
.work-section-box1 a{
    text-decoration: none;
    color:rgb(0, 217, 255);
}
.work-section-box1__desc{
    margin-top:20px;
    margin-bottom: 10px;
}
.work-section-box1__desc p{
    padding-top:5px;
}
.work-section-icon{
    background-color: #00acee;
    padding:10px;
    border-radius: 50%;
  }
.work-section-icon:hover{
    background-color: blue;
  }
.work-section-items{
    display: flex;
    justify-content: center;
}
/* CONTACT ME */
.contact-section{
    background-color: black;
    padding:40px;
    color:white;
    text-align: center;
}
.contact-section h4{
    font-size:30px;
    margin:20px 0px;
    font-weight: 900;
}
.contact-section h4 span{
    color:#00acee;
}
.contact-section form input,textarea{
    padding:5px 10px;
    outline:none;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border:none;
    border-radius: 2px;
    margin-bottom: 10px;
    /* resize: none; */
}
footer{
    background-color: #585353;
    color:rgb(255, 255, 255);
text-align: center;
}
